include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/djangocms_aoxomoxoa/migrations *
recursive-include ripiu/djangocms_aoxomoxoa/templates *
recursive-include ripiu/djangocms_aoxomoxoa/static *
recursive-include ripiu/djangocms_aoxomoxoa/locale *
