{% load thumbnail aoxomoxoa_filters %}

<img src="{% spaceless %}
     {% if external_picture %}
       {{ external_picture }}
     {% elif instance.use_no_cropping %}
       {{ picture.url }}
     {% elif picture %}
       {% thumbnail picture thumbnail_size|get_size crop=thumbnail_size.crop upscale=thumbnail_size.upscale subject_location=picture.subject_location as thumbnail %}
       {{ thumbnail.url }}
     {% endif %}{% endspaceless %}"
     {% if alt_text and not instance.attributes.alt %} alt="{{ alt_text }}"{% endif %}
     {% if not alt_text and not instance.attributes.alt %} alt=""{% endif %}
     {% if caption_text %}title="{{ caption_text }}"{% endif %}
     {% if picture and not external_picture %}data-image="{% spaceless %}
       {% thumbnail picture full_size|get_size crop=full_size.crop upscale=full_size.upscale subject_location=picture.subject_location as full %}
       {{ full.url }}
     {% endspaceless %}"{% endif %}
     {{ instance.attributes_str }}
>
