{% extends "./item.html" %}
{% load thumbnail %}

{% block thumbnail %}
  {% if external_picture %}
    {{ external_picture }}
  {% elif picture %}
    {% thumbnail picture thumbnail_size crop=thumbnail_size.crop upscale=thumbnail_size.upscale subject_location=picture.subject_location as thumbnail %}
    {{ thumbnail.url }}
  {% endif %}
{% endblock thumbnail %}

{% block title %}
  {% if alt_text %}
    {{ alt_text }}
  {% endif %}
{% endblock title %}

{% block extra %}
  {{ block.super }}
  {% if picture and not external_picture %}
    {% thumbnail picture full_size crop=full_size.crop upscale=full_size.upscale subject_location=picture.subject_location as big %}
    data-image="{{ big.url }}"
  {% endif %}
  {% if caption_text %}data-description="{{ caption_text }}"{% endif %}
{% endblock extra %}
