{% extends "./item.html" %}
{% load thumbnail aoxomoxoa_filters %}

{% block thumbnail %}
  {% if external_picture %}
    {{ external_picture }}
  {% elif instance.use_no_cropping %}
    {{ picture.url }}
  {% elif picture %}
    {% thumbnail picture thumbnail_size|get_size crop=thumbnail_size.crop upscale=thumbnail_size.upscale subject_location=picture.subject_location as thumbnail %}
    {{ thumbnail.url }}
  {% endif %}
{% endblock thumbnail %}

{% block title %}
  {% if alt_text %}
    {{ alt_text }}
  {% endif %}
{% endblock title %}

{% block description %}
  {{ caption_text }}
{% endblock description %}

{% block big %}
  {% if picture and not external_picture %}
    {% thumbnail picture full_size|get_size crop=full_size.crop upscale=full_size.upscale subject_location=picture.subject_location as big %}
    {{ big.url }}
  {% endif %}
{% endblock big %}
