{% load cms_tags sekizai_tags staticfiles %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static "ripiu/djangocms_aoxomoxoa/unitegallery/css/unite-gallery.css" %}">{% endaddtoblock %}
{% if needs_jquery %}{% addtoblock "js" %}<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>{% endaddtoblock %}{% endif %}
{% addtoblock "js" %}<script src="{% static "ripiu/djangocms_aoxomoxoa/unitegallery/js/unitegallery.min.js" %}"></script>{% endaddtoblock %}
{% with theme_js="ripiu/djangocms_aoxomoxoa/unitegallery/themes/"|add:gallery_theme|add:"/ug-theme-"|add:gallery_theme|add:".js" %}
  {% addtoblock "js" %}<script src="{% static theme_js %}"></script>{% endaddtoblock %}
{% endwith %}
{% if theme_needs_stylesheet %}
  {% with theme_css="ripiu/djangocms_aoxomoxoa/unitegallery/themes/"|add:gallery_theme|add:"/ug-theme-"|add:gallery_theme|add:".css" %}
    {% addtoblock "css" %}<script src="{% static theme_css %}"></script>{% endaddtoblock %}
  {% endwith %}
{% endif %}
{% addtoblock "js" %}<script src="{% static "ripiu/djangocms_aoxomoxoa/js/unite.js" %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script id="{{ instance.slug }}-conf" type="application/json">
  {{ unite_conf }}
</script>{% endaddtoblock %}
<!--
  theme: {{ gallery_theme }}
-->
<div {% if instance.attributes %}{{ instance.attributes_str }}{% endif %}
     id="{{ instance.slug }}"
     data-unite-conf="{{ instance.slug }}-conf"
     style="display: none">
  {% if instance.child_plugin_instances %}
    {% with in_unite=True %}
      {% for child in instance.child_plugin_instances %}
        {% render_plugin child %}
      {% endfor %}
    {% endwith %}
  {% endif %}
</div>